.dashboard-eq{
    // background: url("../../../../assets/dashboard_img/eq-bg.png") no-repeat 100% 100%;
    padding: 15px;
    height: 100%;
    .head-line {
        color: #fff;
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom:15px;
        position: relative;
        div {
            position:absolute;
            top:0;
            right:0;
            cursor: pointer;
        }
    }
    /*顶部模块*/ 
    .d-top {
        color: #fff;
        height:40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    /*底部模块*/ 
    .d-bottom {
        margin-top: 10px;
        display: flex;
        height: 60%;
        .d-bot-left {
            width: 30%;
            height: 93%;
            border: 1px solid #666;
            padding: 10px;
            margin-right: 20px;
        }
        .d-bot-table {
            width: 69%;
            height:93%;
            padding: 10px;
            border:1px solid #666;
        }
    }
    
}