.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log
.git1
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local 
vue.config.js
package-lock.json
yarn.lock
/.vs/slnx.sqlite
/.vs/chr-fims/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/chr-fims/v16/suo3236.tmp
/.vs/chr-fims/v16/suo49E5.tmp
/.vs/c-mes-tti-client/config/applicationhost.config
.git1
.git2
.git3
.git4
.git5
.git6
.github
.gitlab
node_modules.rar
node_modules.*
node_modules*