/*
Default CSS for the Data inspector
see also: DataInspector.js, DataInspector.html
*/

/*
  Grey color palette
  https://www.google.com/design/spec/style/color.html
/*   #FAFAFA; /* Grey 50  */
/*   #F5F5F5; /* Grey 100 */
/*   #EEEEEE; /* Grey 200 */
/*   #E0E0E0; /* Grey 300 */
/*   #BDBDBD; /* Grey 400 */
/*   #9E9E9E; /* Grey 500 */
/*   #757575; /* Grey 600 */
/*   #616161; /* Grey 700 */
/*   #424242; /* Grey 800 */
/*   #212121; /* Grey 900 */

.inspector-monitor {
    display: inline-block;
    font: bold 14px helvetica, sans-serif;
    background-color: #fff;  /*Grey 900 */
    border: 1px solid #a8bec9;
    border-radius:3px;
    color: #000; /* Grey 100 */
    cursor: default;
  }
  
  .inspector-monitor table {
    border-collapse: separate;
    border-spacing: 2px;
  }
  
  .inspector-monitor td, th {
    padding: 2px;
  }
  
  .inspector-monitor input {
    width:99%;
    background-color: #fff; /* Grey 800 */
    color: #000; /* Grey 100 */
    font: bold 12px helvetica, sans-serif;
    border: 1px solid #a8bec9;
    padding: 2px;
  }
  
  .inspector-monitor input:disabled {
    background-color: #BDBDBD; /* Grey 400 */
    color: #616161; /* Grey 700 */
    border: 1px solid #a8bec9;
  }
  
  .inspector-monitor select {
    width:50%;
    background-color: #fff;
  }
  .nodeInfo{
    font:bold 15px helvetica, sans-serif;
  }
  .inspector-monitor textarea {
    /* width:50%; */
    background-color: #fff;
    border: 1px solid #a8bec9;
  }
  
  
  